
.AttendanceFilter {
    width: auto;
    font-size: 15px;
}
.AttendanceFilter select{
    margin: 5px;
    border:none;
    outline: none;  
    cursor: pointer;
    border-radius:3px;
    text-transform: capitalize;
    box-shadow: 0 0 1px rgb(50, 50, 50);
}

.AttendanceFilter input{
    margin: 5px;
    border:none;
    padding: 0 5px;
    outline: none;  
    cursor: pointer;
    border-radius:3px;
    box-shadow: 0 0 1px rgb(50, 50, 50);
}

.AttendanceFilter .from {
    margin: 0 5px;
}

.AttendanceFilter *{
    display: inline-block;
}

.AttendanceFilter select:hover {
    box-shadow: 0 0 5px rgb(50,50,50)
}

.AttendanceFilter .CancelButton {
    margin: 0 5px;
    padding: 0 10px;
}

