.CloseButton {
    float: right;
    width: auto;
    color: white;
    font-weight: bold;
    background: none;
    text-align: center;
    font-size: 15px;
    padding: 3px 10px;
    border-radius: 3px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
}

.CloseButton:hover {
    box-shadow: 0 0 5px rgb(150, 50, 50);
    color: rgb(150, 50, 50);
}

.CloseButton:active {
    color: white;
    background-color: red;
}
