.MenuBar .menu {
    z-index: 1;
    right: 0;
    width: 100%;
    padding: 10px;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 5px black;
}

.MenuBar .menu .menuItem {
    display: block;
    padding: 0;
}

.MenuBar .menu p{
    width: 98%;
    height: 100%;
    font-size: 12px;
    margin: 0 0 0 1%;
    text-align: right;
    border-radius: 3px;
    font-weight: normal;
    padding: 5px 10px 5px 0;
}


.MenuBar .menu .menuItem .title:hover{
    background-color: rgb(40,40,40);
    color: white;
}

.MenuBar .menu .menuItem .subModule {
    width: 98%;
    padding: 0;
    margin-top: 5px;
    margin-left: 1%;
    float: right;
    border-radius: 3px;
    background-color: rgb(233, 250, 233);
}

.MenuBar .menu ul li {
    padding: 0;
    text-align: right;
}

@media screen and (max-width: 992px) {

    .MenuBar .menu{
        width: 50%;
    }
}


@media screen and (max-width: 768px) {

    .MenuBar .menu{
        width: 80%;
    }
}

@media screen and (max-width: 576px) {

    .MenuBar .menu{
        width: 100%;
    }
}