.Attendance {
    width: 95%;
    margin-left: 5%;
}

.Attendance h1{
    font-size: 20px;
}

.Attendance .sub-title{
    font-size: 15px;
}

.Attendance table{
    font-size: 12px;
}

.Attendance table th {
    text-transform: capitalize;
    border-bottom: none;
    color: grey;
}