.EditButton {
    margin: 0 3px;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 3px;
    text-decoration: none;
    color: rgb(50, 50, 50);
    background-color: rgb(230, 230, 230);
}

.EditButton:hover {
    color: rgb(50, 50, 50);
    box-shadow: 0 0 3px rgb(30, 30, 30);
}

.EditButton:active {
    background-color: rgb(210, 210, 210);
}

@media screen and (max-width: 576px) {
    .EditButton i {
        display: none;
    }
}