
.LeaveFilter {
    width: auto;
    font-size: 15px;
}
.LeaveFilter select{
    margin: 5px;
    border:none;
    outline: none;  
    cursor: pointer;
    border-radius:3px;
    text-transform: capitalize;
    box-shadow: 0 0 1px rgb(50, 50, 50);
}

.LeaveFilter .CancelButton {
    margin: 0 5px;
    padding: 0 10px;
}

.LeaveFilter input:first-child {
    display: block;
}

.LeaveFilter input{
    margin: 5px;
    border:none;
    padding: 0 5px;
    outline: none;  
    cursor: pointer;
    border-radius:3px;
    box-shadow: 0 0 1px rgb(50, 50, 50);
}

.LeaveFilter .from {
    margin: 0 5px;
}

.LeaveFilter *{
    display: inline-block;
}

.LeaveFilter ul li{
    margin: 0 3px;
}

.LeaveFilter select:hover {
    box-shadow: 0 0 5px rgb(50,50,50)
}

.Entries select option{
    text-transform: capitalize;
}


