.CustomButton {
    width: auto;
    font-size: 15px;
    padding: 3px 10px;
    border-radius: 3px;
    text-decoration: none;
    color: rgb(50, 50, 50);
    background-color: rgb(240, 240, 240);
}

.CustomButton:hover {
    box-shadow: 0 0 5px rgb(230, 230, 230);
}

.CustomButton:active {
    background-color: rgb(220, 220, 220);
}

.CustomButton i {
    margin-right: 5px;
}