
.Entries {
    width: auto;
    font-size: 15px;
}
.Entries select{
    margin: 5px;
    border:none;
    outline: none;  
    cursor: pointer;
    border-radius:3px;
    text-transform: capitalize;
    box-shadow: 0 0 1px rgb(50, 50, 50);
}

.Entries *{
    display: inline-block;
}

.Entries select:hover {
    box-shadow: 0 0 5px rgb(50,50,50)
}

.Entries select:disabled:hover {
    cursor: default;
    box-shadow: 0 0 1px rgb(50, 50, 50);
}

.Entries select option{
    text-transform: capitalize;
}


