
.BenefitFilter {
    width: auto;
    font-size: 15px;
}
.BenefitFilter select{
    margin: 5px;
    border:none;
    outline: none;  
    cursor: pointer;
    border-radius:3px;
    text-transform: capitalize;
    box-shadow: 0 0 1px rgb(50, 50, 50);
}

.BenefitFilter .CancelButton {
    margin: 0 5px;
    padding: 0 10px;
}


.BenefitFilter input:first-child {
    display: block;
}

.BenefitFilter input{
    margin: 5px;
    border:none;
    padding: 0 5px;
    outline: none;  
    cursor: pointer;
    border-radius:3px;
    box-shadow: 0 0 1px rgb(50, 50, 50);
}

.BenefitFilter .from {
    margin: 0 5px;
}

.BenefitFilter *{
    display: inline-block;
}

.BenefitFilter ul li{
    margin: 0 3px;
}

.BenefitFilter select:hover {
    box-shadow: 0 0 5px rgb(50,50,50)
}

.Entries select option{
    text-transform: capitalize;
}


