.ChangeEmployeeStatus {
    top: 0;
    left: 0;
    z-index: 1;
    padding-bottom: 30px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.ChangeEmployeeStatus .container {
    width: 100%;
    float: left;
    padding: 15px 10px;
    border-radius: 3px;
    background-color: white;
}

.ChangeEmployeeStatus .container .Title{
    font-size: 20px;
    width: 100%;
}

.ChangeEmployeeStatus .tab {  
    margin-left: 10px;
}

.ChangeEmployeeStatus .container .content {
    padding: 0;
}

.ChangeEmployeeStatus .container form {
    width: 50%;
    float: left;
    padding: 10px;
}

.ChangeEmployeeStatus .tabItem {
    width: auto;
    cursor: pointer;
    font-size: 15px;
    padding: 3px 5px;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    color: rgb(50, 50, 50);
    text-transform: capitalize;
}

.ChangeEmployeeStatus .DialogBoxContainer {
    padding-left: 10px;
}

.ChangeEmployeeStatus .DialogBox p{
    padding: 10px;
    font-size: 12px;
}

.ChangeEmployeeStatus form .stock-number{
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
    color: rgb(100, 100, 100);
}

.ChangeEmployeeStatus .create-employee .tabs{
    padding: 0;
}

.ChangeEmployeeStatus .create-employee .tabs .tab-item{
    height: auto;
    cursor: pointer;
    display: inline-block;
}

.ChangeEmployeeStatus .create-employee .tabs .tab-item p{
    margin: 0;
    padding: 0 5px 0 5px;
}

.ChangeEmployeeStatus .create-employee .tabs .tab-item:hover{
    background-color: rgb(233, 233, 233);
}

.ChangeEmployeeStatus form .btnContainer {
    text-align: right;
}

@media screen and (max-width: 768px) {

    .ChangeEmployeeStatus .container {
        width: 100%;
    }

    .ChangeEmployeeStatus .container form {
        width: 60%;

    }
}

@media screen and (max-width: 576px) {

    .ChangeEmployeeStatus .container form {
        width: 100%;
    }

    .ChangeEmployeeStatus .container form .col-lg-6:last-child button{
        width: 48%;
    }

}



