.Dashboard{
    margin: 0;
    /* background-color: red; */
}

.Dashboard .card{
    padding: 0;
    width: 22%;
    float: left;
    height: 65px;
    color:black;
    border-radius: 5px;
    margin: 1% 1.5% 1% 1.5%;
    box-shadow: 1px 1px 1px grey;
    background: rgb(255, 255, 255);
}

.Dashboard .card ul {
    margin: 0;
    padding: 0;
}

.Dashboard .card ul li{
    float: left;
    height: 100%;
    padding: 5px 0 10px 10px;
}

.Dashboard .card ul li:first-child {
    width: 60%;
}

.Dashboard .card ul li:last-child {
    width: 40%;
}

.Dashboard .card ul li p{
    margin: 0;
    padding: 0;
}

.Dashboard .card ul li .value{
    font-size: 20px;
}

.Dashboard .card ul li .label{
    font-size: 10px;
}

.Dashboard .card ul li i{
    margin-top: 25px;
    margin-left: 25px;
}

@media (max-width: 768px) {
   
    .Dashboard .card ul li i{
        margin-top: 20px;
        font-size: 20px;
    }
}    

@media (max-width: 576px) {

    .Dashboard .card{
        width: 47%;
    }
}    
