.SideBar {
  margin: 0;
  width: 100%;
  height: 120%;
  overflow-y: auto;
  overflow-x: hidden;
}

.SideBar .header {
  margin: 0;
  padding: 0;
  width: 100%;
}

.SideBar .header .title {
  width: 80%;
  height: 50px;
  font-size: 25px;
  padding-top: 10px;
  text-align: center;
  margin: 2% 10% 10% 10%;
  color: rgb(40, 135, 45);
}

.SideBar .header .avatar{
  padding: 0;
  width: 100%;
}

.SideBar .header .avatar .col-left {
  padding: 20px 0 0 0;
  text-align: right;
}

.SideBar .header img {
  width: 50px;
  height: 50px;
  margin: 0;
  cursor: pointer;
  border-radius: 50%;
}

.SideBar .header img:hover {
  box-shadow: 0 0 5px white;
}

.SideBar .header .avatar .col-right {
  padding-top: 10px;
  text-align: left;
}

.SideBar .header .avatar p{
  margin: 0;
}

.SideBar .header .name {
  width: 95%;
  font-size: 10px;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: bold;
  padding: 22px 0 0 0;
}

.SideBar .header .position {
  height: 20px;
  font-size: 10px;
  cursor: pointer;
  padding-top: 2px;
}

.SideBar .header .name:hover {
  font-size: 11px;
}

.SideBar .header .position:hover {
  font-size: 11px;
}

.SideBar .content {
  margin-top: 10px;
  overflow: auto;
  padding: 0;
}

@media screen and (max-width: 1024px) {

  
}
