.FindAccount {
    height: 100%;
    margin-top: 5%;
    overflow: hidden;
    width: 100%;
    padding: 5% 0 0 0;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("../../images/background.jpg");
}

.FindAccount .container {
  width: 25%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px grey;
}

.FindAccount .container .Title {
  text-align: left;
  font-size: 20px;
}

.FindAccount .container .sendMethod {
  padding: 0;

}
.FindAccount .container .sendMethod .sendItem {
  margin: 3px 0;
}

.FindAccount .container button {
  margin: 5px 0 5px 0;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .FindAccount {
    background-image: none;
  }

  .FindAccount .container {
    width: 30%;
  }
}

@media screen and (max-width: 576px) {

  .FindAccount .container {
    margin-top: 10%;
    width: 80%;
  }
}
