.input{
    width: 100%;
    margin: 5px;
    height: 60px;
    color: rgb(122, 124, 122);
    border-bottom: 2px solid rgb(220, 250, 220);
}

.input input{
    border:none;
    box-shadow: none;
    outline: none;
    background:none;
    height: auto;
    width: 100%;
    margin: 0;
    padding-left: 10px;
}

.input label {
    width: 100%;
    height: 50%;
    font-size: 15px;
    text-align: left;   
    text-transform: capitalize;
}

.input .fa-refresh {
    font-size: 10px;
    margin: 0 5px;
    cursor: pointer;
}

.input .fa-refresh:active {
    cursor: wait;
}

.input .fa-refresh:hover {
    color: black;
}    

.input label span {
    font-size: 12px;
    text-transform: none;
    color: rgb(250, 50, 50)
}

.input input::placeholder {
    text-transform: none;
    font-weight: normal;
    color: rgb(200, 200, 200);
}
.input .fa-close {
    cursor: pointer;
    color: rgb(200, 200, 200)
}

.input .fa-close:hover {
    color: rgb(200, 50, 50)
}

.input .fa-close:active {
    color: rgb(250, 50, 50)
}




