.DeclineButton {
    margin: 3px 5px;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 15px;
    padding: 3px 10px;
    border-radius: 3px;
    color: red;
    background-color: rgb(230, 230, 230);
  }
    
  .DeclineButton:hover {
    box-shadow: 0 0 3px grey;
  }

  .DeclineButton:active {
    cursor: wait;
    background-color: rgb(210, 210, 210);
  }