.Settings .listItem{
    font-size: 15px;
    margin: 0px;
    padding: 0;
    background-color: white;    
}

.Settings .listItem p {
    cursor: pointer;
    margin: 5px 0;
    padding: 5px 10px;
}

.Settings .listItem p:active {
    background-color: rgb(200, 200, 200);    
}

.Settings .item-toggle{
    float: right;
    margin: 5px 5px;
}