.GenerateReport{
    height: 100%;
}

.GenerateReport .container{
    width: 70%;
    float: left;
    height: auto;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px 20px 20px;
    background-color: white;
    box-shadow: 0 0 10px grey;
}

.GenerateReport .container .title{
    text-align: left;
    font-size: 20px;
}

.GenerateReport .container .sub-title{
    text-align: left;
    font-size: 12px;
}

.GenerateReport .container table {
    border: 1px solid rgb(200, 200, 200);
}

.GenerateReport .container table th{
    font-size: 10px;
    text-transform: capitalize;
}

.GenerateReport .container table td{
    font-size: 10px;
    border: none;
}









