.BackButton {
    width: auto;
    color: black;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;
    padding: 3px 12px 3px 12px;
    background-color: rgb(220, 250, 220);
}

.BackButton:hover {
    box-shadow: 0 0 3px grey;
}

.BackButton:active {
    color: white;
    background-color: black;
}

.BackButton .link {
    margin: 0;
    color: inherit;
    padding: inherit;
    text-decoration: none;
}

.BackButton span {
    margin-left: 5px;
}