.Status {
    width: 95%;
    margin-left: 5%;
}

.Status h1{
    font-size: 20px;
}

.Status .sub-title{
    font-size: 15px;
}

.Status table{
    font-size: 12px;
}

.Status table th {
    text-transform: capitalize;
    border-bottom: none;
    color: grey;
}