.SubmitButton {
    width: auto;
    margin: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 3px;
    background-color: rgb(50, 150, 50);
}

.SubmitButton:hover {
    box-shadow: 0 0 5px rgb(160, 189, 160);
}

.SubmitButton:disabled {
    background-color: rgb(120, 200, 120);
}

.SubmitButton:disabled:hover {
    box-shadow: none;
}

.SubmitButton:disabled:active {
    box-shadow: none;
    background-color: rgb(120, 200, 120);
}

.SubmitButton:active {
    color: white;
    background-color: green;
}

.SubmitButton i {
    margin-right: 5px;
}